* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

head img {
    width: 200px;
    min-width: 200px;
    display: inline-block;
    padding: 20px;
    padding-top: 20px;
    float: left;
    border-image-width: 10px;

}

header {

    /* text-align: center; */
    font-size: xx-large;
    font-weight: bolder;
    background-color: rgb(130, 130, 229);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

body {
    margin: 12px;
    font-size: 100%;
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    height: 100px;
    background: linear-gradient(to bottom, rgb(195, 198, 250) 0%, rgb(111, 117, 233) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    min-height: 2.75rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: #13293d
}

* {
    box-sizing: border-box;
}


main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

*/ .main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
}

.card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    color: #13293d;
    font-weight: bold;
}

.card header {
    padding: 20px;
    background: #036b79;
    color: #fff;
}

.card img {
    width: 200px;
    min-width: 200px;
}