* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

header {

    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    background-color: rgb(130, 130, 229);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

body {
    margin: 12px;
    font-size: 100%;
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    height: 100px;
    background: linear-gradient(to bottom, rgb(195, 198, 250) 0%, rgb(111, 117, 233) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-container {
    display: flex;
    flex-wrap: wrap;

    @media and (min-width: 1140px) {
        .main-container {
            width: 1120px;
            margin: 16px auto;
            font-size: 1.1em;
        }
    }
}

form {
    color: black;
    font-weight: bold;
    font-size: medium;
}

.location-and-date {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    width: 200px;
    margin: 40px auto;
    padding: 20px;
    border: 3px solid rgb(37, 37, 175);
    box-sizing: content-box;
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.temperature {
    width: 200px;
    margin: 40px auto;
    padding: 20px;
    border: 3px solid rgb(240, 110, 5);
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.humidity {
    width: 200px;
    margin: 40px auto;
    padding: 20px;
    border: 3px solid rgb(244, 200, 3);
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rain {
    width: 200px;
    margin: 40px auto;
    padding: 20px;
    border: 3px solid rgb(4, 151, 141);
    display: none;
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.wind {
    width: 200px;
    margin: 40px auto;
    padding: 20px;
    border: 3px solid rgb(4, 151, 141);
    display: none;
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.five-day-forcast {
    width: 200px;
    margin: 40px auto;
    padding: 20px;
    border: solid rgb(244, 69, 99);
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}